<!-- Render a card from the provided data -->
{% macro new_card(comment_data, creator) -%}
<div class="card border-secondary">
    <div class="card-body">
        <a href="/user/{{creator}}">
            <h6 class="card-subtitle mb-2 text-muted">Commented by {{ creator }}</h6>
        </a>

        <p class="card-text">{{ comment_data.content }}</p>
    </div>
    <div class="card-footer text-muted">
        Posted {{ comment_data.created_at.strftime("%d/%m/%y at %T") }}
    </div>
</div>
{%- endmacro %}