<!-- Render a card from the provided data -->
{% macro new_card(post_data) -%}
<div class="card border-secondary">
    <div class="card-body">
        <h5 class="card-title">{{ post_data.title }}</h5>

        <a href="/user/{{ post_data.author.username }}">
            <h6 class="card-subtitle mb-2 text-muted">Created by {{ post_data.author.username }}</h6>
        </a>

        <p class="card-text">{{ post_data.content }}</p>

        <div class="btn-group btn-block mt-2" role="group">
            <!-- edit and delete buttons are instanced per-card so that the correct card is edited/deleted -->
            <button class="btn btn-outline-primary like-button" id="{{ post_data.id }}">Like Post ({{
                post_data.likes | length
                }})</button>
            <a type="button" class="btn btn-outline-primary" href="/view-post/{{ post_data.id }}">View Post or
                Comment ({{ post_data.comments | length }})</a>
        </div>
    </div>
    <div class="card-footer text-muted">
        Posted {{ post_data.created_at.strftime("%d/%m/%y at %T") }}
    </div>
</div>
{%- endmacro %}