{% extends "base.html" %}
{% from "postCard.html" import new_card %}
{% block content %}
<h1 class="display-4">{{title}}</h1>
<hr class="my-4">
<dl class="row">
    <dt class="col-sm-3">Likes Received</dt>
    <dd class="col-sm-9">0</dd>
    <div class="col-12"><br /></div>
    <dt class="col-sm-3">Comments Made</dt>
    <dd class="col-sm-9">0</dd>
    <div class="col-12"><br /></div>
    <dt class="col-sm-3">Comments Received</dt>
    <dd class="col-sm-9">0</dd>
</dl>
<hr class="my-4">
<h2>Posts</h2>
{% for post in post_data %}
{{ new_card(post[0], post[1]) }}
<br />
{% endfor %}
{% endblock content %}