{% extends "base.html" %}
{% from "commentCard.html" import new_card %}

{% block content %}
<h1>{{post.title}}</h1>
<a href="/user/{{post.author.username}}">
    <h4 class="text-muted">Created by {{post.author.username }}</h4>
</a>
<p>{{ post.content }}</p>
<hr class="my-4">
<button class="btn btn-outline-success like-button" id="{{post.id}}">Like Post ({{ post.likes | length }})</button>
<br>
<br>
<h2>Comments ({{ post.comments | length }})</h2>
<form action="" method="post" name="createCommentForm">
    {{ form.hidden_tag() }}
    {{ form.content.label}}
    {{ form.content(class_='form-control', rows=3)}}
    <br>
    <button type="submit" class="btn btn-primary">Post Comment</button>
</form>
<br>
{% for comment in post.comments | reverse %}
{{ new_card(comment) }}
<br>
{% endfor %}

{% endblock content %}